/* ======================================
   RESPONSIVE DEVOPS PORTFOLIO
====================================== */



@media(max-width:1024px){


.header{

padding:20px 40px;

}


.hero h1{

font-size:45px;

}



.skills-grid{


grid-template-columns:

repeat(2,1fr);


}


.project-grid{


grid-template-columns:

repeat(2,1fr);


}


}





@media(max-width:768px){



.header{


flex-direction:column;


}



nav{


flex-wrap:wrap;

justify-content:center;


}



.hero{


padding:100px 20px;


}



.hero h1{


font-size:34px;


}



.hero-buttons{


flex-direction:column;


}



.about-container{


flex-direction:column;

text-align:center;


}



.skills-grid{


grid-template-columns:1fr;


}




.project-grid{


grid-template-columns:1fr;


}



.contact-form{


width:100%;


}




.chat-window{


width:90%;


right:5%;


}


}





@media(max-width:480px){


.hero h1{


font-size:28px;


}



.section-title{


font-size:28px;


}



.logo{


font-size:22px;


}


}

